{% extends 'navbar.html' %}
{% load bootstrap %}

{% block content %}
{% if request.user.groups.all.0.name == "Administrador DASA" or request.user.groups.all.0.name == "Licenciados" %}

    <div class="row m-3 mt-5 py-5 px-3 border">
        {% if request.user.groups.all.0.name == "Licenciados" %}
        <h1 class="fw-light col-12 mb-3">Editar perfil</h1> 
        {% else %}
        <h1 class="fw-light col-12 mb-3">Editar licenciado</h1> 
        {% endif %}

        <div class="d-flex  justify-content-center ">
           
            <div class="col-12 col-md-6 border">
                <form method="post" class="p-3">
                    {% csrf_token %}
                    {{ form |bootstrap }} 
                    <button type="submit" class="btn btn-primary mt-5 ">Guardar</button>
                </form>
            </div>
        </div>
        
        {% if messages %}
            <div class="alert alert-success mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    {% endif %}

{% endblock %}